* {
     outline: medium none;
}

a {
     text-decoration: none;
     font-family: 'Montserrat',sans-serif;
}

body {
    background:black;
}

h1 {
    
}

#frontpage {
     background-clip: border-box;
     background-color: black;
     background-image: url("images/frontpage2invert.png");
     background-origin: padding-box;
     background-repeat: no-repeat;
     background-size: 100% auto;
     height: 490px;
     left: 50%;
     margin-left: -375px;
     margin-top: -248px;
     position: absolute;
     top: 50%;
     width: 740px;
}
span{
    background: none repeat scroll 0 0 black;
    border-radius: 10px 10px 10px 10px;
    color: white;
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
    letter-spacing: 1px;
    padding: 10px;
    position: absolute;
    z-index: 1;
}
/* ---------------------------------------------------- DRIBBLE */

#dribble {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 112px;
    margin-left: 130px;
    margin-top: 120px;
    overflow: hidden;
    position: absolute;
    width: 212px;
    	opacity:.5;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
#dribblehover {
    background: none repeat scroll 0 0 white;
    border-radius: 10px 10px 10px 10px;
    color: black;
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
    letter-spacing: 1px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    margin: 37px auto 25px 23%;
    display:none;  
}
#dribble:hover #dribblehover{
	display:block;
}
/* ---------------------------------------------------- INSTAGRAM */
#instagram {
    height: 100px;
    margin-left: 408px;
    margin-top: 65px;
    position: absolute;
    width: 100px;
    opacity:.5;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
#instagramhover {
    background: none repeat scroll 0 0 white;
    border-radius: 10px 10px 10px 10px;
    color: black;
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
    letter-spacing: 1px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    margin: 25px auto;
    margin-left: -15%;
    display:none;  
}
#instagram:hover #instagramhover{
	display:block;
}
/* ---------------------------------------------------- JAMS */
#jams {
    height: 90px;
    margin-left: 4px;
    margin-top: 29px;
    position: absolute;
    width: 90px;
}
.jamshover {
    background: none repeat scroll 0 0 white;
    border-radius: 10px 10px 10px 10px;
    color: black;
    cursor: pointer;
    display: none;
    font-family: 'Montserrat',sans-serif;
    letter-spacing: 1px;
    margin: 21px auto 25px 12%;
    padding: 10px;
    position: absolute;
    z-index: 1;
}
#jams:hover .jamshover{
	display:block;
}
/* ---------------------------------------------------- ART */
#art {
    height: 60px;
    margin-left: 64px;
    margin-top: 229px;
    position: absolute;
    width: 34px;
}
.arthover {
	background: none repeat scroll 0 0 white;
    border-radius: 10px 10px 10px 10px;
    color: black;
    cursor: pointer;
    display: none;
    font-family: 'Montserrat',sans-serif;
    letter-spacing: 1px;
    margin: 9px auto 25px -31%;
    padding: 10px;
    position: absolute;
    z-index: 1;
}
#art:hover .arthover{
	display:block;
}
/* ---------------------------------------------------- UX / UI */
#uxui {
    height: 60px;
    margin-left: 365px;
    margin-top: 229px;
    position: absolute;
    width: 44px;
}
.uxuihover {
    background: none repeat scroll 0 0 white;
    border-radius: 10px 10px 10px 10px;
    color: black;
    cursor: pointer;
    display: none;
    font-family: 'Montserrat',sans-serif;
    letter-spacing: 1px;
    margin: 9px auto 25px -52%;
    padding: 10px;
    position: absolute;
    z-index: 1;
    width: 70px;
    text-align: center;
}
#uxui:hover .uxuihover {
    display: block;
}
/* ---------------------------------------------------- UX / UI */
#uxui {
    height: 60px;
    margin-left: 365px;
    margin-top: 229px;
    position: absolute;
    width: 44px;
}
.uxuihover {
    background: none repeat scroll 0 0 white;
    border-radius: 10px 10px 10px 10px;
    color: black;
    cursor: pointer;
    display: none;
    font-family: 'Montserrat',sans-serif;
    letter-spacing: 1px;
    margin: 9px auto 25px -52%;
    padding: 10px;
    position: absolute;
    z-index: 1;
    width: 70px;
    text-align: center;
}
#uxui:hover .uxuihover {
    display: block;
}
/* ---------------------------------------------------- ABOUT */
#about {
    height: 40px;
    margin-left: 463px;
    margin-top: 214px;
    position: absolute;
    width: 42px;
}
.abouthover {
    background: none repeat scroll 0 0 white;
    border-radius: 10px 10px 10px 10px;
    color: black;
    cursor: pointer;
    display: none;
    font-family: 'Montserrat',sans-serif;
    letter-spacing: 1px;
    margin: -8px auto 25px -52%;
    padding: 10px;
    position: absolute;
    text-align: center;
    z-index: 1;
}
#about:hover .abouthover {
    display: block;
}
#aboutimage img{
	width:100%;
}
/* ---------------------------------------------------- PORTFOLIO */
#port {
    height: 115px;
    margin-left: 659px;
    margin-top: 174px;
    position: absolute;
    width: 45px;
}
.porthover {
    background: none repeat scroll 0 0 white;
    border-radius: 10px 10px 10px 10px;
    color: black;
    cursor: pointer;
    display: none;
    font-family: 'Montserrat',sans-serif;
    letter-spacing: 1px;
    margin: 37px auto 25px -83%;
    padding: 10px;
    position: absolute;
    text-align: center;
    z-index: 1;
}
#port:hover .porthover {
    display: block;
}
/* ---------------------------------------------------- CALENDAR */

#calendar2 {
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    height: 64px;
    margin-left: 651px;
    margin-top: 31px;
    position: absolute;
    text-align: center;
    width: 78px;
    letter-spacing: 1px;
    line-height: 25px;
    padding-top: 14px;
    color:white;
}
#calendar2 a{
	color:white;
	font-family: 'Montserrat',sans-serif;
}
#calendar2 a:hover #calendarhover{
	display:block;
}

#calendarhover {
	display: none;
	width: 56px;
	height: 56px;
	color: black;
	padding: 10px;
	line-height: 16px;
	text-align: center;
	font-family: 'Montserrat',sans-serif;
	font-size: 12px;
	-moz-transform: rotate(120deg);
	-webkit-transform: rotate(12deg);
	-o-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	margin-top: -38px;
	background: white;
	border-radius: 56px;
	margin-left: 1px;
	position: absolute;
}
/* ---------------------------------------------------- LIGHT */

#light{
    background: none repeat scroll 0 0 transparent;
    height: 40px;
    margin-left: 550px;
    margin-top: 155px;
    position: absolute;
    width: 50px;
}

/* ---------------------------------------------------- HOVER */
.opacityhover{
	opacity:1 !important;
}
/* ---------------------------------------------------- CAT */

#eyes {
background: none;
height: 90px;
margin-left: 496px;
margin-top: 435px;
position: absolute;
width: 120px;
}
#eyes:hover img{
	display:block;
}
#eyes img{
	display:none;
}